<!DOCTYPE html>
<html>
 <head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
 </head>
    <body>
    <div class="HB">
      <h1>Happy Baskets</h1>
    </div>
    <img class="Homescreen" src="assets/Images/Mygiftapp design.png" alt="First page">
    <p>Find the best presents and gifts at reasonable price !</p>
      <div class="firstpg">
        <nav>
          <a routerLink="/guest">
        <button type="button">Shop now</button>
        </a>
        </nav>
        <input type="button" value="Home">
      </div>
</body>
</html>
