<!DOCTYPE html>
<html>
  <head>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
      <!--***Header and NavBar***-->
<div class="header">    
 <div class="container">
   <div class="navbar">
    <div class="logo">
      <label> Happy Baskets</label>
    </div>
    <nav>
      <ul>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Wishlist</a></li>
      </ul>
    </nav>
    <img src="src\assets\images\cart.png" width="30px" height="30px" alt="cart picture">
   </div>
   <div class="row">
    <div class="col-2">
      <h1>Hey You, <br> Come Shop With Us!</h1>
      <p>This Festive Season Give your loved ones only the of best gifts <br>Shop at Happy Baskets </p>
      <a href="" class="btn">Explore Now</a>
    </div>
    <div class="col-2"></div>
       <img src="src\assets\images\news flash.jpg">
   </div>
 </div>
</div>
      
  <!--*****Featured Categories*****-->
  <div class="categories">
    <div class="small-container">
      <div class="row">
        <div class="col-3">
          <img src="src\assets\images\fudgebrowines.jpg" alt="browines"> <!--add pictures based on items list-->
        </div> 
        <div class="col-3"></div> 
         <img src="src\assets\images\PLant.jpg" alt="bamboo plant">
        <div class="col-3"></div> 
         <img src="src\assets\images\Ladieswatch.jpg" alt="watch">
       </div>
    </div>
  </div>
  </body>
</html>