/* You can add global styles to this file, and also import other style files */
/*{background-color: aqua}*/
body{
   background-image: url("https://img.freepik.com/free-vector/pink-oil-painted-canvas-background_53876-93727.jpg?size=626&ext=jpg");
   background-repeat:no-repeat;
   background-size: cover; 
}

.continue button{
   font-size: 18px;
   font-weight:300px;
   margin:10px 0;
   padding :5px 5px 5px 5px;
   width :10%
   
     
}

.relative2 select{
   font-size: 18px;
   font-weight:300px;
   margin:10px 0;
   padding :5px 5px 5px 5px;
   width :11% ;
   font-weight: bold;
   
     
}
.relative1 select{
   font-size: 18px;
   font-weight:300px;
   margin:10px 0;
   padding :5px 5px 5px 5px;
   width :17%;
   font-weight: bold;
     
}