<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
<style>

div.relative {
  position: relative;
  top: 250px;
  left: 2px;
  text-align: center;
}


</style>
</head>
<body>
  <img src="assets/Images/Background.png" alt="">

  <div class="HB">
    <h1>Happy Baskets</h1>
  </div>

    <div class="relative">


        <input type="text" placeholder="Username">

    </div>
    <div class="relative">


        <input type="password" placeholder="Password">
    </div>

    <div class="relative">

      <i class="fas fa-gift"></i>
      <nav>
        <a routerLink="/filterscreen"><input class="btn" type="button" name="" value="Login"></a>
      </nav>


    </div>


</body>
</html>

