<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<style>

div.relative {
  position: relative;
  top: 250px;
  left: 2px;
  text-align: center;
}


</style>
</head>
<body>
  <img src="assets/Images/Background.png" alt="">



    <div class="relative">
        
        
        <input type="text" placeholder="Username">
       
    </div>
    <div class="relative">
        
      
        <input type="password" placeholder="Password">
    </div>
  
    <div class="relative">
      
      <i class="fas fa-gift"></i>
      <input class="btn" type="button" name="" value="Login">
    
      
    </div>
 

</body>
</html>

