<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
   </head>
   <body>
    <div class="HB">
      <h1>Happy Baskets</h1>
    </div>
    <div class="Custom">
      <h1>Customize your gift preferences!</h1>
    </div>
<img class="CustomScreen" src="assets/Images/Custom.png" alt="Custom page">
<form>
  <div class="Accessories">
    <p>Engraved Accessories : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <select name="accessories" size="1">
        <option value="">
        <option value="Pendents">Pendents
        <option value="Bracelets">Bracelets
          <option value="Watches">Watches
            <option value="Keychain">Keychain
      </select>
      <br>
  </div>
  <div class="Stationary">
    <p>Books & Stationary : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <select name="stationary" size="1">
        <option value="">
        <option value="Diary">Personalised Diary
        <option value="Notepad">Notepad
        <option value="Calender">Family Calender
        </select>
        <br>
    </div>
    <div class="Mugs">
      <p>Mugs : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <select name="Mugs" size="1">
          <option value="">
          <option value="Quote Printed Mugs">Quote printed mugs
          <option value="Picture mugs">Photo printed mugs
          <option value="Heat induced printed mugs">Heat induced printed mugs
        </select>
        <br>
      </div>
      <div class="Cushions">
        <p>Cushions : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <select name="Cushions" size="1">
            <option value="">
            <option value="Quote Printed Cushions">Quote printed cushions
            <option value="Picture cushions">Photo printed cushions
              </select>
      </div>
      <div class="Frames">
        <p>Photo frames: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <select name="Frames" size="1">
            <option value="Pendents">
            <option value="Wooden frame">Wooden frame
            <option value="Glass frame">Glass frame
            <option value="Canvas frame">Canvas frame
            </select>
        </div>
  </form>

<div class="proceed_order">
  <nav>
    <a routerLink="/order">
  <button type="button">Proceed to order</button>
  </a>
</nav>
</div>
</body>
</html>
